<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>

</head>
<body>
    <div class="main">
        <h1>Welcome to GIC</h1>
        <nav>
            <ul>
                <!-- Hyperlinks allow visitors to enter different zones-->
                <li><a href="/">Home</a></li>
                <li><a href="/info">Why We Collect Data</a></li>
                <li><a href="/data">Submit Your Data</a></li>
                <li><a href="https://pathways.kaplaninternational.com/">contack us</a></li>
            </ul>
        </nav>
        <p>This website is designed to collect and evaluate student data for educational purposes. You can learn more about our process or start submitting your data now.</p>
    </div>
</body>
</html>
