<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>About Data Collection</title>
</head>
<body>
    <div class="main">
        <h1>Why We Collect Student Data</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/info">Why We Collect Data</a></li>
                <li><a href="/data">Submit Your Data</a></li>
            </ul>
        </nav>
        <p>Personalized Learning experience:By tracking each student's progress, teachers can tailor lesson plans to meet the unique needs of each student. This personalization can help students make progress in the areas where they need the most help.</p>
            <br>
            <p>Students can be self-reflective by tracking their progress and understanding their own learning habits and styles to become more autonomous learners.</p>
    </div>
</body>
</html>
